$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300&subset=latin,latin-ext);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

$light-green: #82cec1;
$green: #00ab4e;
$blue: #00b7de;
$purple: #672f87;
$yellow: #ffc222;
$pink: #d15980;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.LandscapeModeOnly {
  display: none;
}
/* Space out content a bit */
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
body {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  overflow: hidden;
  &.landscape {
    background: #006f66;
    section, section > *, .nav-pills {
      display: none !important;
    }
    .LandscapeModeOnly {
      display: block;
      position: fixed;
      top: 0px;
      left: 0px;
      img {
        position: fixed;
        max-width: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
      }
      img:empty
      {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }

  }

}

section, .section {
  clear:both; height:100%; width:100%;
  position: relative;
}

.big-title {
  font-size: 8vw;
  color: $green;
  padding: 6% 0px;
}
.btn-green {
  background: $green;
  color: #FFF;
  font-size: 3vw;
  border-radius: 0px;
}
.nav {
  li > a, li > a:hover, li > a:focus {
    background-color: transparent;
  }
}
.nav.nav-pills {
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-radius: 0px;
  li.active > a, li.active > a:hover, li.active > a:focus {
    background-color: transparent;
  }
  li > a {
    color: #ffffff;
    font-size: 3.2vw;
    border-radius: 0px;
    padding: 5px 10px;
  }
  li:nth-child(1) {
    background: #fff;
    a {
      color: #000;
    }
  }
  li:nth-child(2) {
    background: $light-green;
  }
  li:nth-child(3) {
    background: $blue;
  }
  li:nth-child(4) {
    background: $purple;
  }
  li:nth-child(5) {
    background: $yellow;
  }
  li:nth-child(6) {
    background: $pink;
  }
}

.fa-big {
  font-size: 5vw;
  letter-spacing: 1em;
}
.fa-big:last-child {
  letter-spacing: 0px;
}
.padded {
  padding: 5% 0px;
}
.bck-green {
  background: $green;
}
.bck-blue {
  background: $blue;
}
.bck-yellow {
  background: $yellow;
}
.bck-purple {
  background: $purple;
}
.bck-pink {
  background: $pink;
}
.bck-lightgreen {
  background: $light-green;
}
.color-green {
  color: $green;
}
.color-blue {
  color: $blue;
}
.color-yellow {
  color: $yellow;
}
.color-purple {
  color: $purple;
}
.color-pink {
  color: $pink;
}
.color-lightgreen {
  color: $light-green;
}
//Narration
.btn {
  border-radius: 0px;
}
.narration {
  position: fixed;top: 0px;right: 0px;
  z-index: 999;
  width: 15vw;
  height: 4vw;
  padding: 0.5vw;
//  background: rgba(0, 171, 78,0.6);
}
.landscape {
  .narration {
    display: none;
  }
}
//Animation
.step.ng-enter,
.step.ng-leave {
  position: absolute;top: 0px; left: 0px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.step.ng-enter {
  z-index: 99;
  opacity: 1;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.step.ng-enter-active {
  transform: scale(1);
  opacity: 1;
  -webkit-transform: scale(1);
}
.step.ng-leave {
  z-index: 9;
  opacity: 0.2;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}
.step.ng-leave-active {
  opacity: 0.2;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}

@media(min-width: 768px){
  li > a {
    padding: 10px 15px;
  }

}
h2, .h2 {
  font-size: 4vw;
}


